<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>First Name </th>
                <th>last Name </th>
                <th>provider_specialty</th>

            </tr>
        </thead>
        <tbody>
            <% results.forEach(row => { %>
                <tr>
                    <td><%= row.first_name %></td>
                    <td><%= row.last_name %></td>
                    <td><%= row.provider_specialty%></td>
                </tr>
            
            <% }); %>
        </tbody>
    </table>
</body>
</html>